In [4]:
r=range(1,15,3)
for i in r:
    print(i)

1
4
7
10
13

In [5]:
#bytes and arrays
lst=[20,30,40,234]
print(type(lst))

<class 'list'>

In [6]:
b=bytes(lst)
print(type(b))

<class 'bytes'>

In [7]:
b1=bytearray(lst)
print(type(b1))

<class 'bytearray'>

In [8]:
b1[2]=33
print(b1)

bytearray(b'\x14\x1e!\xea')

In [9]:
#dictinaries
dict1={1:"john",2:"bob",3:"bill"}
print(dict1)

{1: 'john', 2: 'bob', 3: 'bill'}

In [10]:
print(dict1.items())

dict_items([(1, 'john'), (2, 'bob'), (3, 'bill')])

In [11]:
k=dict1.keys()   
for i in k:print(i)

1
2
3

In [12]:
v=dict1.values()
for i in v:
    print(i)

john
bob
bill

In [13]:
print(dict1[3])

bill

In [14]:
print(dict1[2])

bob

In [15]:
del(dict1[1])

In [16]:
#arithematic operators
a,b=10,5
print('Addition:',a+b)
print('substraction:',a-b)
print('mul:',a*b)
print('Division:',a/b)
print('modulus:',a%b)
print('pow:',a**b)
print('floor div:',a//b)

Addition: 15
substraction: 5
mul: 50
Division: 2.0
modulus: 0
pow: 100000
floor div: 2

In [17]:
#assignment operators
a=b=c=10
print(a,b,c)

10 10 10

In [18]:
x,y=10,5
x+=y
print(x)

15

In [19]:
x*=y
print(x)

75

In [20]:
#comparision oprators
x,y=77,88
print(x==y)

False

In [21]:
print(x!=y)

True

In [22]:
print(x>y)

False

In [23]:
print(x>=y)

False

In [24]:
print(x<=y)

True

In [25]:
#logical operators
x=20
y=30
print(x==20 and y==30)

True

In [26]:
print(x==22 or y==33)

False

In [27]:
print(not(x==27 or y==33))

True

In [28]:
#print and input
print()

In [29]:
print("hello" *3)

hellohellohello

In [30]:
print("all the power\n within you")

all the power
 within you

In [31]:
a,b=10,20
print(a,b,sep='++++')

10++++20

In [32]:
name="john"
marks=94.5678
print("Name is",name,"marks are",marks)

Name is john marks are 94.5678

In [33]:
print("name is %s,marks are%.3f"%(name,marks))

name is john,marks are94.568

In [34]:
print("Name is {}, Marks are {}".format(name,marks))

Name is john, Marks are 94.5678

In [35]:
print("name is {0}, marks are {1}".format(name,marks))

name is john, marks are 94.5678

In [39]:
#input function
'''s=input()
print(s)
s1=int("enter your name:")
print(type(s))'''
i=float(input("enter a integer number"))
print(type(i))

enter a integer number6
<class 'float'>

In [40]:
lst=[float(x) for x in input("enter three numbers separated by coma:").split(',')]
print(lst)

enter three numbers separated by coma:5,7,9
[5.0, 7.0, 9.0]

In [41]:
#basic programs
#student detail
studentid=int(input("enter student id:"))
name=input("enter student name:")
marks=float(input("student marks:"))
print("id:",studentid,"name:",name,"marks:",marks)

enter student id:68
enter student name:rakesh
student marks:78
id: 68 name: rakesh marks: 78.0

In [46]:
#average of numbers
a,b,c=[int(x) for x in input("enter the integer numbers").split()]
average=(a+b+c)/3
print("average of three numbers is:",average)

enter the integer numbers34,56,34

ValueError: invalid literal for int() with base 10: '34,56,34'

In [47]:
import math
r=float(input("enter the radius"))
area=math.pi*r**2
print(area)

enter the radius5
78.53981633974483

In [48]:
#fun as parameter
def display(fun):
    return " hello "+fun
def name(my):
    return " bharath "+my
def apple():
    return" my name is "
print(display(name(apple())))

 hello  bharath  my name is

In [49]:
#control statements
x=int(input("enter a number:"))
if x==0:
    print(x,"is zero")
elif x%2==0:
    print(x,"is even")
else:
    print(x,"is odd")

enter a number:4
4 is even

In [50]:
x=int(input("enter the marks of maths"))
y=int(input("enter the marks of physics"))
z=int(input("enter the marks of chemistry"))
if x>=35 and y>=35 and z>=35:
    print("congrats!Passed in all subjects")
    avg=(x+y+z)/3
    print("Grade C", avg<=59)
    print("Grade B",avg <=69)
    print("Garde A",avg>=70)
else:
    print("fail")

enter the marks of maths43
enter the marks of physics56
enter the marks of chemistry67
congrats!Passed in all subjects
Grade C True
Grade B True
Garde A False

In [ ]:
x=int(input("enter the marks of maths"))
y=int(input("enter the marks of physics"))
z=int(input("enter the marks of chemistry"))
if x>=100 or y>=100 or z>=100:
    print("you are entered marks is out of range")

elif x>=35 and y>=35 and z>=35:
    print("congrats!Passed in all subjects")
    avg=(x+y+z)/3
    print("Grade C",int(avg), avg<=59)
    print("Grade B",int(avg),avg <=69)
    print("Garde A",int(avg),avg>=70)
else:
    print("fail")

Step 1: Calculate Euclidean Distance
    The first step is to calculate the distance between two rows in a dataset.

Rows of data are mostly made up of numbers and an easy way to calculate the distance between two rows or vectors of numbers is to draw a straight line. This makes sense in 2D or 3D and scales nicely to higher dimensions.

We can calculate the straight line distance between two vectors using the Euclidean distance measure. It is calculated as the square root of the sum of the squared differences between the two vectors.

Euclidean Distance = sqrt(sum i to N (x1_i – x2_i)^2)
Where x1 is the first row of data, x2 is the second row of data and i is the index to a specific column as we sum across all columns.

With Euclidean distance, the smaller the value, the more similar two records will be. A value of 0 means that there is no difference between two records.

Below is a function named euclidean_distance() that implements this in Python.

In [51]:
from math import sqrt
 
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)
 
# Test distance function
dataset = [[2.7810836,2.550537003,0],
	[1.465489372,2.362125076,0],
	[3.396561688,4.400293529,0],
	[1.38807019,1.850220317,0],
	[3.06407232,3.005305973,0],
	[7.627531214,2.759262235,1],
	[5.332441248,2.088626775,1],
	[6.922596716,1.77106367,1],
	[8.675418651,-0.242068655,1],
	[7.673756466,3.508563011,1]]
row0 = dataset[0]
for row in dataset:
	distance = euclidean_distance(row0, row)
	print(distance)

0.0
1.3290173915275787
1.9494646655653247
1.5591439385540549
0.5356280721938492
4.850940186986411
2.592833759950511
4.214227042632867
6.522409988228337
4.985585382449795

Step 2: Get Nearest Neighbors
    Neighbors for a new piece of data in the dataset are the k closest instances, as defined by our distance measure.

To locate the neighbors for a new piece of data within a dataset we must first calculate the distance between each record in the dataset to the new piece of data. We can do this using our distance function prepared above.

Once distances are calculated, we must sort all of the records in the training dataset by their distance to the new data. We can then select the top k to return as the most similar neighbors.

We can do this by keeping track of the distance for each record in the dataset as a tuple, sort the list of tuples by the distance (in descending order) and then retrieve the neighbors.

Below is a function named get_neighbors() that implements this.

In [52]:
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors

In [ ]:
# Example of getting neighbors for an instance
from math import sqrt

# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)

# Locate the most similar neighbors
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors

# Test distance function
dataset = [[2.7810836,2.550537003,0],
	[1.465489372,2.362125076,0],
	[3.396561688,4.400293529,0],
	[1.38807019,1.850220317,0],
	[3.06407232,3.005305973,0],
	[7.627531214,2.759262235,1],
	[5.332441248,2.088626775,1],
	[6.922596716,1.77106367,1],
	[8.675418651,-0.242068655,1],
	[7.673756466,3.508563011,1]]
neighbors = get_neighbors(dataset, dataset[0], 3)
for neighbor in neighbors:
	print(neighbor)
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
# Example of getting neighbors for an instance
from math import sqrt
 
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
	distance = 0.0
	for i in range(len(row1)-1):
		distance += (row1[i] - row2[i])**2
	return sqrt(distance)
 
# Locate the most similar neighbors
def get_neighbors(train, test_row, num_neighbors):
	distances = list()
	for train_row in train:
		dist = euclidean_distance(test_row, train_row)
		distances.append((train_row, dist))
	distances.sort(key=lambda tup: tup[1])
	neighbors = list()
	for i in range(num_neighbors):
		neighbors.append(distances[i][0])
	return neighbors
 
# Test distance function
dataset = [[2.7810836,2.550537003,0],
	[1.465489372,2.362125076,0],
	[3.396561688,4.400293529,0],
	[1.38807019,1.850220317,0],
	[3.06407232,3.005305973,0],
	[7.627531214,2.759262235,1],
	[5.332441248,2.088626775,1],
	[6.922596716,1.77106367,1],
	[8.675418651,-0.242068655,1],
	[7.673756466,3.508563011,1]]
neighbors = get_neighbors(dataset, dataset[0], 3)
for neighbor in neighbors:
	print(neighbor)

In [53]:
#while demo
x=1
while(x<=20):
    print(x)
    x+=1 #x=x+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [55]:
x=int(input("enter min number:"))
y=int(input("enter max number:"))
i=x
if i%2==0: i=i+1
while i<=y:
    print(i)
    i+=2

enter min number:8
enter max number:10
9

In [56]:
#for loop
for i in range(50,71):
    print(i)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70

In [57]:
#product of list
lst=[1,2,3,4,5]
prod=1
for i in lst:
    prod*=i
print("product is",prod)

product is 120

In [58]:
#multiplication table
x=int(input("enter a number for generating table"))
for i in range(1,11): 
    print(i*x)

enter a number for generating table8
8
16
24
32
40
48
56
64
72
80

In [59]:
#break demo
lst=[3,6,9,5,12]
for i in lst:
    if i==5:
        break
    print(i)

3
6
9

In [60]:
#continue demo
x=0
while x<=20:
    x+=1
    #if x%3==0:
        #continue
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [61]:
#assert
x=int(input("enter the number greater than 10"))
assert x>10, "wrong number entered"
print("U Entered",x)

enter the number greater than 1012
U Entered 12

In [3]:
x=int(input("enter the number"))
while x<100:
    x-=1
    if x%10==0:
        continue
    elif x<=0:
        break
    print(x)

enter the number20
19
18
17
16
15
14
13
12
11
9
8
7
6
5
4
3
2
1